# Build files.
/build/

# Local configuration overrides.
/phpcs.xml
/phpunit.xml
/.wp-env.override.json

# Dependecies.
/vendor/
/node_modules/
/composer.lock

# Misc.
/.phpunit.result.cache
.DS_Store
