<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="rtc-table-testing">
			<directory suffix=".php">./tests/tests/</directory>
			<!-- exclude>./tests/class-test-sample.php</exclude -->
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>ms-required</group>
		</exclude>
	</groups>
</phpunit>
